#panel{
	width: 400px;
	height: 500px;
	margin: auto;
	color: #fff;
	margin-top: 50px;
	font-family: "Roboto", sans-serif !important;
	box-sizing: content-box;
}



#panel.action-main > .main{
	visibility: visible;
	opacity: 1;
}
.main{
	visibility: hidden;
	background-color: #fff;
	color: #10273E;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	bottom: 0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
	-moz-transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
	transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
}

.main-header{
  display: block;
  width: 100%;
  height: 30%;
  position: relative;
  background-color: #0D283F;
}.main-header .action{
  width: 100%;
  position: relative;
  top: 0px; 
  }.action ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }.action ul li{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    opacity: 0.8;
    -moz-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
  }.action ul li:hover{
    opacity: 1;
  }.action ul li svg{
    height: 25px;
    width: 25px;
  }

.main-content{
  display: block;
  width: 100%;
  height: 70%;
  position: relative;
  background-color: #fff;
}




































/*------------------------------------LOGIN SECTION---------------------------------*/
#panel.action-login > .login{
	visibility: visible;
	opacity: 1;
}
.login{
	visibility: hidden;
	background-color: #0D283F;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	bottom: 0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
	-moz-transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
	transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
	/*color: #fff;
	background: #7474BF;
	background: -moz-radial-gradient(circle farthest-corner at left top,#7474BF 0,#348AC7 99%);
	background: radial-gradient(circle farthest-corner at left top,#7474BF 0,#348AC7 99%);
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
*/}

.login-header{
  width: 100%;
  height: auto;
  padding: 20% 10% 10% 10%;
  box-sizing: border-box;
}.login-header .logo{
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}.logo svg{
  height: 100px;
  width: 100px;
}


.login-form{
  position: relative;
  box-sizing: border-box;
  padding: 0% 20%;
}.login-form input.input{
  width: 100%;
  padding: 10px;
  background-color: none;
  position: relative;
  display: block;
  border: 0px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}.login-form input.submit{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  display: block;
  background-color: #448EE1;
  color: #fff;
  border: 0px;
  box-sizing: border-box;
  cursor: pointer;
}.login-form input.submit:hover{
  
}

.login-footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background: #091c2d;
  border-bottom: 1px dotted #172c40;
}.login-footer .link{
  opacity: 0.8;
  cursor: pointer;
  font-size: 13.3px;
  -moz-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
}.login-footer .link:hover{
  opacity: 1;
}


/*----------------------------LOADER-------------------------*/
#panel.action-loading > .loader {
position: relative;
width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  
  background-color: #0D283F;
  
  background-image:
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white);
  
  background-position: 
    calc(50% - 30px) 50%,
    calc(50% - 20px) 50%,
    calc(50% - 10px) 50%,
    50% 50%,
    calc(50% + 10px) 50%,
    calc(50% + 20px) 50%,
    calc(50% + 30px) 50%;
  
  background-size: 
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px;
  background-repeat: no-repeat;
  
  animation: l-bars 1s linear infinite alternate;
  }

@keyframes l-bars {
  0% {  
    background-size: 
      5px 30px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  16.6% {  
    background-size: 
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  33.2% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  49.8% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  66.4% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px;
    }
  83% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px;
    }
  100% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px;
    }
  }