html,body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif !important;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6{
	line-height: 110%;
	padding: 0;
	font-weight: 300;
	color: #333333;
	text-rendering: optimizeLegibility;
}

*:focus {
    outline: none;
}

#panel{
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	margin: auto;
  color: #333333;
	font-family: "Roboto", sans-serif !important;
	box-sizing: content-box;
}



#panel.action-main > .main{
	display: block;
	opacity: 1;
}
.main{
	display: none;
	background-color: #fff;
	color: #10273E;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	bottom: 0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
	-moz-transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
	transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
}

.main-header .action{
  width: 100%;
  position: relative;
  top: 0px; 
  }.action ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }.action ul li{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    opacity: 0.8;
    -moz-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
  }.action ul li:hover{
    opacity: 1;
  }.action ul li svg{
    height: 25px;
    width: 25px;
  }

.main-header{
  display: block;
  width: 100%;
  height: 30%;
  position: relative;
  background-color: #fff;
  display: block;
}.header-pic{
  width: 150px;
  height: 100%;
  padding: 8%;
  box-sizing: border-box;
  float: left;
  }.header-pic img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.22);
  }
.header-title{
  width: calc(100% - 150px);
  height: 100%;
  padding: 10%;
  padding-left: 0%;
  float: left;
  box-sizing: border-box;
  display: table;
}.header-title .title-company{
  width: 100%;
  float: left;
  height: auto;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-family: "Roboto", sans-serif !important;
  display: table-cell;
  vertical-align: middle;
}.header-title .title-user{
  width: 100%;
  height: auto;
  float: left;
  color: #ccc;
  font-size: 13px;
  padding: 0;
  margin: 0;
  padding-left: 2px;
  font-family: "Roboto", sans-serif !important;
  display: table-cell;
  vertical-align: middle;
}

.main-content{
  display: block;
  width: 100%;
  height: 70%;
  position: relative;
  background-color: #fff;
  display: table;
}.content-stats{
  width: 100%;
  height: 40%;
  position: relative;
  display: block;
  background-color: #1AB5FA;
  }.content-stats .stat{
    width: calc(100% / 2);
    height: 100%;
    padding: 10%;
    float: left;
    box-sizing: border-box;
    display: table;
  }.stat p{
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 200;
    font-family: "Roboto", sans-serif !important;
    color: #fff;
    display: table-row;
    vertical-align: middle;
  }.stat label{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #ABE3FD;
    font-size: 13px;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    display: table-row;
    vertical-align: middle;
  }
.content-switch{
  width: 100%;
  height: 60%;
  position: relative;
  display: table;
}



/*------------------------------------LOGIN SECTION---------------------------------*/
#panel.action-login > .login{
	display: block;
	opacity: 1;
}
.login{
	display: none;
	background-color: #fff;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	bottom: 0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
	-moz-transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
	transition: opacity ease-in-out 0.6s, visibility ease-in-out 0.6s;
	/*color: #fff;
	background: #7474BF;
	background: -moz-radial-gradient(circle farthest-corner at left top,#7474BF 0,#348AC7 99%);
	background: radial-gradient(circle farthest-corner at left top,#7474BF 0,#348AC7 99%);
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
*/}

.login-header{
  width: 100%;
  height: auto;
  padding: 20% 10% 10% 10%;
  box-sizing: border-box;
}.login-header .logo{
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}.logo svg{
  height: 100px;
  width: 100px;
  fill: #f1f1f1;
}.logo .title{
  font-size: 42px;
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-family: "Roboto", sans-serif !important;
}


.login-form{
  position: relative;
  box-sizing: border-box;
  padding: 0% 15%;
}.login-form input.input{
  width: 100%;
  padding: 10px 5px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: none;
  position: relative;
  display: block;
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,.4);
  box-sizing: border-box;
}.login-form input.input:focus{
  border-color: #1AB5FA;
}.login-form input.input::-moz-placeholder,.login-form input.input:-moz-placeholder{
  opacity: .3;
  color: #333;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;

}.login-form input.submit{
  padding: 10px 20px;
  border-radius: 30px;
  border: 0px;
  margin: auto;
  margin-top: 20px;
  display: block;
  background-color: #1AB5FA;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  -moz-transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}.login-form input.submit:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#login-message{
	display: none;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	color: #fff;
  font-size: 13px;
  font-family: "Roboto", sans-serif !important;
	background-color: #F76F8E;
}#login-message.error{
	display: block;
}

.login-footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
/*  background: #f4f4f4;  
  border-top: 1px solid #f1f1f1;*/
}.login-footer .link{
  color: #1AB5FA;
  opacity: 0.8;
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  -moz-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
}.login-footer .link:hover{
  opacity: 1;
}


/*----------------------INPUT TRACK SWITCH-------------------*/

section.switch {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
}
section.switch input {
  display: block;
  opacity: 0;
}
section.switch label {
  width: 60px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: #BDBDBD;
  border-radius: 30px;
  
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}
section.switch label:after {
  left: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 10px;
}
section.switch input:checked + label {
  background: rgb(39, 173, 95);
}
section.switch input:checked + label:after {
  left: auto;
  right: 0;
}

section.switch p {
  color: rgb(189, 189, 189);
  display: none;
  font-size: 13px;
  font-family: "Roboto", sans-serif !important;
}
section.switch input:checked ~ p:nth-of-type(1) {
  color: rgb(39, 173, 95);
  display: block;
}
section.switch input:not(:checked) ~ p:nth-of-type(2) {
  display: block;
}

/*----------------------------LOADER-------------------------*/
#panel.action-loading > .loader {
position: relative;
width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  
  background-color: #1AB5FA;
  
  background-image:
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white);
  
  background-position: 
    calc(50% - 30px) 50%,
    calc(50% - 20px) 50%,
    calc(50% - 10px) 50%,
    50% 50%,
    calc(50% + 10px) 50%,
    calc(50% + 20px) 50%,
    calc(50% + 30px) 50%;
  
  background-size: 
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px;
  background-repeat: no-repeat;
  
  animation: l-bars 1s linear infinite alternate;
  }

@keyframes l-bars {
  0% {  
    background-size: 
      5px 30px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  16.6% {  
    background-size: 
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  33.2% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  49.8% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  66.4% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px;
    }
  83% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px;
    }
  100% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px;
    }
  }